            <p class="lead">
            %s
            <br/>
            <audio controls preload="none">
              <source src="/assets/music/%s" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
            </p>